@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Cores
$primary-color: #3498db;
$secondary-color: #2ecc71;

// Tipografia
$font-family-base: 'Poppins', sans-serif;
