.banner{
    margin-top:150px;
    height: calc(100vh - 100px);
    background-color: green;
    background-image: url(../../assets/image48.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}